#inner-footer {

	nav {
		display: inline-block;
	
	}
	text-align: center;
}

#footer-secondary {
	display: inline-block;
}

#menu-footer-links {
	float: left;
 	li {
 		float: left;
 		
 	}
}

#footer-copyright {
margin-top: 10px;
}

#inner-footer {
	height: 60px;
}