#big-bear-page-map-container.mapWidth683 #map-background {
  width: 683px;
  margin: 0 auto;
  background-image: url("../images/big-bear-map/basemap_683_out.jpg");
}
#big-bear-page-map-container.mapWidth683 #big-bear-page-map #map_0 {
  display: none;
}
#big-bear-page-map-container.mapWidth683 #big-bear-page-map #map_1 {
  display: none;
}
#big-bear-page-map-container.mapWidth683 #big-bear-page-map #map_2 {
  display: none;
}
#big-bear-page-map-container.mapWidth683 #big-bear-page-map #map_3 {
  display: none;
}
#big-bear-page-map-container.mapWidth683 #big-bear-page-map #map_4 {
  display: none;
}
#big-bear-page-map-container.mapWidth683 #big-bear-page-map #map_5 {
  display: none;
}
#big-bear-page-map-container.mapWidth683 #big-bear-page-map #map_6 {
  display: inline;
}
#big-bear-page-map-container.mapWidth683 #map-hovers._big-bear-route-3 {
  background-image: url("../images/big-bear-map/big-bear-route-3_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 237px 15px;
}
#big-bear-page-map-container.mapWidth683 #map-hovers._big-bear-route-1 {
  background-image: url("../images/big-bear-map/big-bear-route-1_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 144px 11px;
}
#big-bear-page-map-container.mapWidth683 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/big-bear-map/big-bear-off-the-mountain_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 0px 19px;
}
#big-bear-page-map-container.mapWidth683 #map-hovers._weekend-trolley {
  background-image: url("../images/big-bear-map/weekend-trolley_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 245px 115px;
}
#big-bear-page-map-container.mapWidth683 #map-hovers.dial-a-ride {
  background-image: url("../images/big-bear-map/dial-a-ride_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 211.3032px 134px;
}
#big-bear-page-map-container.mapWidth761 #map-background {
  width: 761px;
  margin: 0 auto;
  background-image: url("../images/big-bear-map/basemap_761_out.jpg");
}
#big-bear-page-map-container.mapWidth761 #big-bear-page-map #map_0 {
  display: none;
}
#big-bear-page-map-container.mapWidth761 #big-bear-page-map #map_1 {
  display: none;
}
#big-bear-page-map-container.mapWidth761 #big-bear-page-map #map_2 {
  display: none;
}
#big-bear-page-map-container.mapWidth761 #big-bear-page-map #map_3 {
  display: none;
}
#big-bear-page-map-container.mapWidth761 #big-bear-page-map #map_4 {
  display: none;
}
#big-bear-page-map-container.mapWidth761 #big-bear-page-map #map_5 {
  display: inline;
}
#big-bear-page-map-container.mapWidth761 #big-bear-page-map #map_6 {
  display: none;
}
#big-bear-page-map-container.mapWidth761 #map-hovers._big-bear-route-3 {
  background-image: url("../images/big-bear-map/big-bear-route-3_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 268px 12px;
}
#big-bear-page-map-container.mapWidth761 #map-hovers._big-bear-route-1 {
  background-image: url("../images/big-bear-map/big-bear-route-1_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 160px 6px;
}
#big-bear-page-map-container.mapWidth761 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/big-bear-map/big-bear-off-the-mountain_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 0px 16px;
}
#big-bear-page-map-container.mapWidth761 #map-hovers._weekend-trolley {
  background-image: url("../images/big-bear-map/weekend-trolley_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 278px 127px;
}
#big-bear-page-map-container.mapWidth761 #map-hovers.dial-a-ride {
  background-image: url("../images/big-bear-map/dial-a-ride_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 243.08601px 154px;
}
#big-bear-page-map-container.mapWidth839 #map-background {
  width: 839px;
  margin: 0 auto;
  background-image: url("../images/big-bear-map/basemap_839_out.jpg");
}
#big-bear-page-map-container.mapWidth839 #big-bear-page-map #map_0 {
  display: none;
}
#big-bear-page-map-container.mapWidth839 #big-bear-page-map #map_1 {
  display: none;
}
#big-bear-page-map-container.mapWidth839 #big-bear-page-map #map_2 {
  display: none;
}
#big-bear-page-map-container.mapWidth839 #big-bear-page-map #map_3 {
  display: none;
}
#big-bear-page-map-container.mapWidth839 #big-bear-page-map #map_4 {
  display: inline;
}
#big-bear-page-map-container.mapWidth839 #big-bear-page-map #map_5 {
  display: none;
}
#big-bear-page-map-container.mapWidth839 #big-bear-page-map #map_6 {
  display: none;
}
#big-bear-page-map-container.mapWidth839 #map-hovers._big-bear-route-3 {
  background-image: url("../images/big-bear-map/big-bear-route-3_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 303px 14px;
}
#big-bear-page-map-container.mapWidth839 #map-hovers._big-bear-route-1 {
  background-image: url("../images/big-bear-map/big-bear-route-1_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 181px 7px;
}
#big-bear-page-map-container.mapWidth839 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/big-bear-map/big-bear-off-the-mountain_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 0px 19px;
}
#big-bear-page-map-container.mapWidth839 #map-hovers._weekend-trolley {
  background-image: url("../images/big-bear-map/weekend-trolley_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 314px 144px;
}
#big-bear-page-map-container.mapWidth839 #map-hovers.dial-a-ride {
  background-image: url("../images/big-bear-map/dial-a-ride_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 274.8688px 174px;
}
#big-bear-page-map-container.mapWidth917 #map-background {
  width: 917px;
  margin: 0 auto;
  background-image: url("../images/big-bear-map/basemap_917_out.jpg");
}
#big-bear-page-map-container.mapWidth917 #big-bear-page-map #map_0 {
  display: none;
}
#big-bear-page-map-container.mapWidth917 #big-bear-page-map #map_1 {
  display: none;
}
#big-bear-page-map-container.mapWidth917 #big-bear-page-map #map_2 {
  display: none;
}
#big-bear-page-map-container.mapWidth917 #big-bear-page-map #map_3 {
  display: inline;
}
#big-bear-page-map-container.mapWidth917 #big-bear-page-map #map_4 {
  display: none;
}
#big-bear-page-map-container.mapWidth917 #big-bear-page-map #map_5 {
  display: none;
}
#big-bear-page-map-container.mapWidth917 #big-bear-page-map #map_6 {
  display: none;
}
#big-bear-page-map-container.mapWidth917 #map-hovers._big-bear-route-3 {
  background-image: url("../images/big-bear-map/big-bear-route-3_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 338px 16px;
}
#big-bear-page-map-container.mapWidth917 #map-hovers._big-bear-route-1 {
  background-image: url("../images/big-bear-map/big-bear-route-1_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 202px 8px;
}
#big-bear-page-map-container.mapWidth917 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/big-bear-map/big-bear-off-the-mountain_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 0px 21px;
}
#big-bear-page-map-container.mapWidth917 #map-hovers._weekend-trolley {
  background-image: url("../images/big-bear-map/weekend-trolley_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 350px 160px;
}
#big-bear-page-map-container.mapWidth917 #map-hovers.dial-a-ride {
  background-image: url("../images/big-bear-map/dial-a-ride_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 306.6516px 194px;
}
#big-bear-page-map-container.mapWidth995 #map-background {
  width: 995px;
  margin: 0 auto;
  background-image: url("../images/big-bear-map/basemap_995_out.jpg");
}
#big-bear-page-map-container.mapWidth995 #big-bear-page-map #map_0 {
  display: none;
}
#big-bear-page-map-container.mapWidth995 #big-bear-page-map #map_1 {
  display: none;
}
#big-bear-page-map-container.mapWidth995 #big-bear-page-map #map_2 {
  display: inline;
}
#big-bear-page-map-container.mapWidth995 #big-bear-page-map #map_3 {
  display: none;
}
#big-bear-page-map-container.mapWidth995 #big-bear-page-map #map_4 {
  display: none;
}
#big-bear-page-map-container.mapWidth995 #big-bear-page-map #map_5 {
  display: none;
}
#big-bear-page-map-container.mapWidth995 #big-bear-page-map #map_6 {
  display: none;
}
#big-bear-page-map-container.mapWidth995 #map-hovers._big-bear-route-3 {
  background-image: url("../images/big-bear-map/big-bear-route-3_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 373px 17px;
}
#big-bear-page-map-container.mapWidth995 #map-hovers._big-bear-route-1 {
  background-image: url("../images/big-bear-map/big-bear-route-1_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 223px 9px;
}
#big-bear-page-map-container.mapWidth995 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/big-bear-map/big-bear-off-the-mountain_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 0px 23px;
}
#big-bear-page-map-container.mapWidth995 #map-hovers._weekend-trolley {
  background-image: url("../images/big-bear-map/weekend-trolley_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 387px 177px;
}
#big-bear-page-map-container.mapWidth995 #map-hovers.dial-a-ride {
  background-image: url("../images/big-bear-map/dial-a-ride_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 338.43442px 214px;
}
#big-bear-page-map-container.mapWidth1073 #map-background {
  width: 1073px;
  margin: 0 auto;
  background-image: url("../images/big-bear-map/basemap_1073_out.jpg");
}
#big-bear-page-map-container.mapWidth1073 #big-bear-page-map #map_0 {
  display: none;
}
#big-bear-page-map-container.mapWidth1073 #big-bear-page-map #map_1 {
  display: inline;
}
#big-bear-page-map-container.mapWidth1073 #big-bear-page-map #map_2 {
  display: none;
}
#big-bear-page-map-container.mapWidth1073 #big-bear-page-map #map_3 {
  display: none;
}
#big-bear-page-map-container.mapWidth1073 #big-bear-page-map #map_4 {
  display: none;
}
#big-bear-page-map-container.mapWidth1073 #big-bear-page-map #map_5 {
  display: none;
}
#big-bear-page-map-container.mapWidth1073 #big-bear-page-map #map_6 {
  display: none;
}
#big-bear-page-map-container.mapWidth1073 #map-hovers._big-bear-route-3 {
  background-image: url("../images/big-bear-map/big-bear-route-3_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 408px 19px;
}
#big-bear-page-map-container.mapWidth1073 #map-hovers._big-bear-route-1 {
  background-image: url("../images/big-bear-map/big-bear-route-1_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 244px 10px;
}
#big-bear-page-map-container.mapWidth1073 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/big-bear-map/big-bear-off-the-mountain_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 0px 25px;
}
#big-bear-page-map-container.mapWidth1073 #map-hovers._weekend-trolley {
  background-image: url("../images/big-bear-map/weekend-trolley_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 423px 194px;
}
#big-bear-page-map-container.mapWidth1073 #map-hovers.dial-a-ride {
  background-image: url("../images/big-bear-map/dial-a-ride_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 370.2172px 234px;
}
#big-bear-page-map-container.mapWidth1151 #map-background {
  width: 1151px;
  margin: 0 auto;
  background-image: url("../images/big-bear-map/basemap_1151_out.jpg");
}
#big-bear-page-map-container.mapWidth1151 #big-bear-page-map #map_0 {
  display: inline;
}
#big-bear-page-map-container.mapWidth1151 #big-bear-page-map #map_1 {
  display: none;
}
#big-bear-page-map-container.mapWidth1151 #big-bear-page-map #map_2 {
  display: none;
}
#big-bear-page-map-container.mapWidth1151 #big-bear-page-map #map_3 {
  display: none;
}
#big-bear-page-map-container.mapWidth1151 #big-bear-page-map #map_4 {
  display: none;
}
#big-bear-page-map-container.mapWidth1151 #big-bear-page-map #map_5 {
  display: none;
}
#big-bear-page-map-container.mapWidth1151 #big-bear-page-map #map_6 {
  display: none;
}
#big-bear-page-map-container.mapWidth1151 #map-hovers._big-bear-route-3 {
  background-image: url("../images/big-bear-map/big-bear-route-3_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 444px 21px;
}
#big-bear-page-map-container.mapWidth1151 #map-hovers._big-bear-route-1 {
  background-image: url("../images/big-bear-map/big-bear-route-1_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 266px 11px;
}
#big-bear-page-map-container.mapWidth1151 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/big-bear-map/big-bear-off-the-mountain_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 0px 28px;
}
#big-bear-page-map-container.mapWidth1151 #map-hovers._weekend-trolley {
  background-image: url("../images/big-bear-map/weekend-trolley_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 460px 211px;
}
#big-bear-page-map-container.mapWidth1151 #map-hovers.dial-a-ride {
  background-image: url("../images/big-bear-map/dial-a-ride_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 402.0px 255px;
}
