.inner-header {
  background: #a2423d;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #a2423d 0%, #950b0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #a2423d), color-stop(100%, #950b0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #a2423d 0%, #950b0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #a2423d 0%, #950b0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #a2423d 0%, #950b0e 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #a2423d 0%, #950b0e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2423d', endColorstr='#950b0e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
