#home-desktop-map-container.mapWidth683 #map-background {
  width: 683px;
  margin: 0 auto;
  background-image: url("../images/map/basemap_683_out.jpg");
}
#home-desktop-map-container.mapWidth683 #home-desktop-map #map_0 {
  display: none;
}
#home-desktop-map-container.mapWidth683 #home-desktop-map #map_1 {
  display: none;
}
#home-desktop-map-container.mapWidth683 #home-desktop-map #map_2 {
  display: none;
}
#home-desktop-map-container.mapWidth683 #home-desktop-map #map_3 {
  display: none;
}
#home-desktop-map-container.mapWidth683 #home-desktop-map #map_4 {
  display: none;
}
#home-desktop-map-container.mapWidth683 #home-desktop-map #map_5 {
  display: none;
}
#home-desktop-map-container.mapWidth683 #home-desktop-map #map_6 {
  display: inline;
}
#home-desktop-map-container.mapWidth683 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/map/big-bear-off-the-mountain_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 37px 41px;
}
#home-desktop-map-container.mapWidth683 #map-hovers._rim-route-2 {
  background-image: url("../images/map/rim-route-2_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 18px 63px;
}
#home-desktop-map-container.mapWidth683 #map-hovers._rim-off-the-mountain {
  background-image: url("../images/map/rim-off-the-mountain_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 38px 75px;
}
#home-desktop-map-container.mapWidth683 #map-hovers._rim-route-4 {
  background-image: url("../images/map/rim-route-4_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 163px 51px;
}
#home-desktop-map-container.mapWidth683 #map-hovers._big-bear-route-1 {
  background-image: url("../images/map/big-bear-route-1_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 383px 39px;
}
#home-desktop-map-container.mapWidth683 #map-hovers._big-bear-route-3 {
  background-image: url("../images/map/big-bear-route-3_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 425px 45px;
}
#home-desktop-map-container.mapWidth683 #map-hovers._weekend-trolley {
  background-image: url("../images/map/weekend-trolley_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 454px 99px;
}
#home-desktop-map-container.mapWidth683 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_683_out.jpg");
  background-repeat: no-repeat;
  background-position: 211.3032px 134px;
}
#home-desktop-map-container.mapWidth761 #map-background {
  width: 761px;
  margin: 0 auto;
  background-image: url("../images/map/basemap_761_out.jpg");
}
#home-desktop-map-container.mapWidth761 #home-desktop-map #map_0 {
  display: none;
}
#home-desktop-map-container.mapWidth761 #home-desktop-map #map_1 {
  display: none;
}
#home-desktop-map-container.mapWidth761 #home-desktop-map #map_2 {
  display: none;
}
#home-desktop-map-container.mapWidth761 #home-desktop-map #map_3 {
  display: none;
}
#home-desktop-map-container.mapWidth761 #home-desktop-map #map_4 {
  display: none;
}
#home-desktop-map-container.mapWidth761 #home-desktop-map #map_5 {
  display: inline;
}
#home-desktop-map-container.mapWidth761 #home-desktop-map #map_6 {
  display: none;
}
#home-desktop-map-container.mapWidth761 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/map/big-bear-off-the-mountain_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 36px 42px;
}
#home-desktop-map-container.mapWidth761 #map-hovers._rim-route-2 {
  background-image: url("../images/map/rim-route-2_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 18px 68px;
}
#home-desktop-map-container.mapWidth761 #map-hovers._rim-off-the-mountain {
  background-image: url("../images/map/rim-off-the-mountain_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 39px 80px;
}
#home-desktop-map-container.mapWidth761 #map-hovers._rim-route-4 {
  background-image: url("../images/map/rim-route-4_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 183px 55px;
}
#home-desktop-map-container.mapWidth761 #map-hovers._big-bear-route-1 {
  background-image: url("../images/map/big-bear-route-1_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 437px 39px;
}
#home-desktop-map-container.mapWidth761 #map-hovers._big-bear-route-3 {
  background-image: url("../images/map/big-bear-route-3_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 484px 47px;
}
#home-desktop-map-container.mapWidth761 #map-hovers._weekend-trolley {
  background-image: url("../images/map/weekend-trolley_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 518px 110px;
}
#home-desktop-map-container.mapWidth761 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_761_out.jpg");
  background-repeat: no-repeat;
  background-position: 243.08601px 154px;
}
#home-desktop-map-container.mapWidth839 #map-background {
  width: 839px;
  margin: 0 auto;
  background-image: url("../images/map/basemap_839_out.jpg");
}
#home-desktop-map-container.mapWidth839 #home-desktop-map #map_0 {
  display: none;
}
#home-desktop-map-container.mapWidth839 #home-desktop-map #map_1 {
  display: none;
}
#home-desktop-map-container.mapWidth839 #home-desktop-map #map_2 {
  display: none;
}
#home-desktop-map-container.mapWidth839 #home-desktop-map #map_3 {
  display: none;
}
#home-desktop-map-container.mapWidth839 #home-desktop-map #map_4 {
  display: inline;
}
#home-desktop-map-container.mapWidth839 #home-desktop-map #map_5 {
  display: none;
}
#home-desktop-map-container.mapWidth839 #home-desktop-map #map_6 {
  display: none;
}
#home-desktop-map-container.mapWidth839 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/map/big-bear-off-the-mountain_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 41px 47px;
}
#home-desktop-map-container.mapWidth839 #map-hovers._rim-route-2 {
  background-image: url("../images/map/rim-route-2_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 20px 77px;
}
#home-desktop-map-container.mapWidth839 #map-hovers._rim-off-the-mountain {
  background-image: url("../images/map/rim-off-the-mountain_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 45px 90px;
}
#home-desktop-map-container.mapWidth839 #map-hovers._rim-route-4 {
  background-image: url("../images/map/rim-route-4_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 207px 62px;
}
#home-desktop-map-container.mapWidth839 #map-hovers._big-bear-route-1 {
  background-image: url("../images/map/big-bear-route-1_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 495px 45px;
}
#home-desktop-map-container.mapWidth839 #map-hovers._big-bear-route-3 {
  background-image: url("../images/map/big-bear-route-3_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 548px 53px;
}
#home-desktop-map-container.mapWidth839 #map-hovers._weekend-trolley {
  background-image: url("../images/map/weekend-trolley_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 586px 124px;
}
#home-desktop-map-container.mapWidth839 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_839_out.jpg");
  background-repeat: no-repeat;
  background-position: 274.8688px 174px;
}
#home-desktop-map-container.mapWidth917 #map-background {
  width: 917px;
  margin: 0 auto;
  background-image: url("../images/map/basemap_917_out.jpg");
}
#home-desktop-map-container.mapWidth917 #home-desktop-map #map_0 {
  display: none;
}
#home-desktop-map-container.mapWidth917 #home-desktop-map #map_1 {
  display: none;
}
#home-desktop-map-container.mapWidth917 #home-desktop-map #map_2 {
  display: none;
}
#home-desktop-map-container.mapWidth917 #home-desktop-map #map_3 {
  display: inline;
}
#home-desktop-map-container.mapWidth917 #home-desktop-map #map_4 {
  display: none;
}
#home-desktop-map-container.mapWidth917 #home-desktop-map #map_5 {
  display: none;
}
#home-desktop-map-container.mapWidth917 #home-desktop-map #map_6 {
  display: none;
}
#home-desktop-map-container.mapWidth917 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/map/big-bear-off-the-mountain_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 45px 53px;
}
#home-desktop-map-container.mapWidth917 #map-hovers._rim-route-2 {
  background-image: url("../images/map/rim-route-2_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 22px 86px;
}
#home-desktop-map-container.mapWidth917 #map-hovers._rim-off-the-mountain {
  background-image: url("../images/map/rim-off-the-mountain_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 50px 101px;
}
#home-desktop-map-container.mapWidth917 #map-hovers._rim-route-4 {
  background-image: url("../images/map/rim-route-4_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 231px 70px;
}
#home-desktop-map-container.mapWidth917 #map-hovers._big-bear-route-1 {
  background-image: url("../images/map/big-bear-route-1_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 552px 50px;
}
#home-desktop-map-container.mapWidth917 #map-hovers._big-bear-route-3 {
  background-image: url("../images/map/big-bear-route-3_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 611px 59px;
}
#home-desktop-map-container.mapWidth917 #map-hovers._weekend-trolley {
  background-image: url("../images/map/weekend-trolley_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 654px 138px;
}
#home-desktop-map-container.mapWidth917 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_917_out.jpg");
  background-repeat: no-repeat;
  background-position: 306.6516px 194px;
}
#home-desktop-map-container.mapWidth995 #map-background {
  width: 995px;
  margin: 0 auto;
  background-image: url("../images/map/basemap_995_out.jpg");
}
#home-desktop-map-container.mapWidth995 #home-desktop-map #map_0 {
  display: none;
}
#home-desktop-map-container.mapWidth995 #home-desktop-map #map_1 {
  display: none;
}
#home-desktop-map-container.mapWidth995 #home-desktop-map #map_2 {
  display: inline;
}
#home-desktop-map-container.mapWidth995 #home-desktop-map #map_3 {
  display: none;
}
#home-desktop-map-container.mapWidth995 #home-desktop-map #map_4 {
  display: none;
}
#home-desktop-map-container.mapWidth995 #home-desktop-map #map_5 {
  display: none;
}
#home-desktop-map-container.mapWidth995 #home-desktop-map #map_6 {
  display: none;
}
#home-desktop-map-container.mapWidth995 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/map/big-bear-off-the-mountain_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 50px 58px;
}
#home-desktop-map-container.mapWidth995 #map-hovers._rim-route-2 {
  background-image: url("../images/map/rim-route-2_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 25px 95px;
}
#home-desktop-map-container.mapWidth995 #map-hovers._rim-off-the-mountain {
  background-image: url("../images/map/rim-off-the-mountain_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 55px 111px;
}
#home-desktop-map-container.mapWidth995 #map-hovers._rim-route-4 {
  background-image: url("../images/map/rim-route-4_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 255px 77px;
}
#home-desktop-map-container.mapWidth995 #map-hovers._big-bear-route-1 {
  background-image: url("../images/map/big-bear-route-1_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 609px 55px;
}
#home-desktop-map-container.mapWidth995 #map-hovers._big-bear-route-3 {
  background-image: url("../images/map/big-bear-route-3_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 675px 65px;
}
#home-desktop-map-container.mapWidth995 #map-hovers._weekend-trolley {
  background-image: url("../images/map/weekend-trolley_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 722px 153px;
}
#home-desktop-map-container.mapWidth995 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_995_out.jpg");
  background-repeat: no-repeat;
  background-position: 338.43442px 214px;
}
#home-desktop-map-container.mapWidth1073 #map-background {
  width: 1073px;
  margin: 0 auto;
  background-image: url("../images/map/basemap_1073_out.jpg");
}
#home-desktop-map-container.mapWidth1073 #home-desktop-map #map_0 {
  display: none;
}
#home-desktop-map-container.mapWidth1073 #home-desktop-map #map_1 {
  display: inline;
}
#home-desktop-map-container.mapWidth1073 #home-desktop-map #map_2 {
  display: none;
}
#home-desktop-map-container.mapWidth1073 #home-desktop-map #map_3 {
  display: none;
}
#home-desktop-map-container.mapWidth1073 #home-desktop-map #map_4 {
  display: none;
}
#home-desktop-map-container.mapWidth1073 #home-desktop-map #map_5 {
  display: none;
}
#home-desktop-map-container.mapWidth1073 #home-desktop-map #map_6 {
  display: none;
}
#home-desktop-map-container.mapWidth1073 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/map/big-bear-off-the-mountain_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 55px 64px;
}
#home-desktop-map-container.mapWidth1073 #map-hovers._rim-route-2 {
  background-image: url("../images/map/rim-route-2_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 27px 104px;
}
#home-desktop-map-container.mapWidth1073 #map-hovers._rim-off-the-mountain {
  background-image: url("../images/map/rim-off-the-mountain_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 60px 122px;
}
#home-desktop-map-container.mapWidth1073 #map-hovers._rim-route-4 {
  background-image: url("../images/map/rim-route-4_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 279px 84px;
}
#home-desktop-map-container.mapWidth1073 #map-hovers._big-bear-route-1 {
  background-image: url("../images/map/big-bear-route-1_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 666px 60px;
}
#home-desktop-map-container.mapWidth1073 #map-hovers._big-bear-route-3 {
  background-image: url("../images/map/big-bear-route-3_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 738px 71px;
}
#home-desktop-map-container.mapWidth1073 #map-hovers._weekend-trolley {
  background-image: url("../images/map/weekend-trolley_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 790px 167px;
}
#home-desktop-map-container.mapWidth1073 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_1073_out.jpg");
  background-repeat: no-repeat;
  background-position: 370.2172px 234px;
}
#home-desktop-map-container.mapWidth1151 #map-background {
  width: 1151px;
  margin: 0 auto;
  background-image: url("../images/map/basemap_1151_out.jpg");
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_0 {
  display: inline;
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_1 {
  display: none;
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_2 {
  display: none;
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_3 {
  display: none;
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_4 {
  display: none;
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_5 {
  display: none;
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_6 {
  display: none;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._big-bear-off-the-mountain {
  background-image: url("../images/map/big-bear-off-the-mountain_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 60px 70px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._rim-route-2 {
  background-image: url("../images/map/rim-route-2_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 30px 114px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._rim-off-the-mountain {
  background-image: url("../images/map/rim-off-the-mountain_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 66px 133px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._rim-route-4 {
  background-image: url("../images/map/rim-route-4_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 303px 92px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._big-bear-route-1 {
  background-image: url("../images/map/big-bear-route-1_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 724px 66px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._big-bear-route-3 {
  background-image: url("../images/map/big-bear-route-3_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 802px 78px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._weekend-trolley {
  background-image: url("../images/map/weekend-trolley_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 858px 182px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 402.0px 255px;
}
