.single-route table {
  border-spacing: 0px 0px;
  border-collapse: collapse; }
.single-route td, .single-route th {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 13px; }
.single-route .city-name {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px; }
.single-route .timepoint-number {
  font-weight: bold;
  vertical-align: top; }
.single-route .stop-time {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap; }
.single-route .stop_times_row {
  border-top: 1px solid #ccc; }
.single-route .weekday-only {
  background: #E3CDDC; }
.single-route .stop-name {
  white-space: nowrap; }
.single-route .route-note-box {
  list-style-type: none;
  clear: both; }
.single-route .days-of-week {
  text-align: center; }
.single-route table .timetable-header .route-name {
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: white; }
.single-route table .timetable-header .direction-header {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
  background-color: white; }
.single-route table.rt-1 .timetable-header {
  background-color: #993788; }
.single-route table.rt-1 .direction-header {
  font-size: 15px;
  font-weight: bold;
  border-top: solid 4px #993788;
  border-bottom: solid 1px #993788;
  background-color: white;
  color: #993788; }
.single-route table.rt-1 {
  border-bottom: solid 4px #993788; }
.single-route table.rt-1a .timetable-header {
  background-color: #009992; }
.single-route table.rt-1a .timetable-header .direction-header {
  font-size: 15px;
  font-weight: bold;
  border-top: solid 4px #009992;
  border-bottom: solid 1px #009992;
  color: #009992; }
.single-route table.rt-1a {
  border-bottom: solid 4px #009992; }
.single-route table.rt-4 .timetable-header {
  background-color: #589446; }
.single-route table.rt-4 {
  border-bottom: solid 4px #589446; }
.single-route table.rt-4 .timetable-header .direction-header {
  font-size: 15px;
  font-weight: bold;
  border-top: solid 4px #589446;
  border-bottom: solid 1px #589446;
  color: #589446; }
.single-route table.rt-otm .timetable-header {
  background-color: #32619B; }
.single-route table.rt-otm {
  border-bottom: solid 4px #32619B; }
.single-route table.rt-otm .timetable-header .direction-header {
  font-size: 15px;
  font-weight: bold;
  border-top: solid 4px #32619B;
  background-color: white;
  color: #32619B;
  border-bottom: solid 1px #32619B; }
.single-route table.rt-otm .weekday-only {
  background: #CBD2E0; }
.single-route table.rt-bb-otm .timetable-header {
  background-color: #F3630F; }
.single-route table.rt-bb-otm .timetable-header .direction-header {
  font-size: 15px;
  font-weight: bold;
  border-top: solid 4px #F3630F;
  border-bottom: solid 1px #F3630F;
  color: #F3630F; }
.single-route table.rt-bb-otm {
  border-bottom: solid 4px #F3630F;
  float: left;
  margin-right: 30px;
  margin-top: 10px; }
.single-route table.rt-bb-otm .weekday-only {
  background: #FFDCC0; }
.single-route table.rt-2 .timetable-header {
  background-color: #970029; }
.single-route table.rt-2 .timetable-header .direction-header {
  font-size: 15px;
  font-weight: bold;
  border-top: solid 4px #970029;
  border-bottom: solid 1px #970029;
  color: #970029; }
.single-route table.rt-2 {
  border-bottom: solid 4px #970029; }
.single-route .jump-to-maps {
  font-size: 75%;
  padding-bottom: 20px; }
.single-route .nav_header {
  font-size: 80%;
  padding-bottom: 20px; }
.single-route .nav_header img {
  padding-bottom: 10px; }
.single-route .map-thumbnail-area {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 80%; }
.single-route div.map-thumbnail {
  float: left;
  margin-left: 30px;
  margin-top: 10px; }
.single-route div.map-thumbnail a {
  text-decoration: none;
  font-weight: bold; }
.single-route img.map-thumbnail {
  height: 15rem;
  border: 1px solid black; }
