 .wrap {
    width: 99%; }

  #logo {
    position: absolute;
    background-image: url("../images/sprites.png");
    background-repeat: no-repeat;
    width: 507px;
    height: 134px;
    background-position: -0px -0px;
    left: -132px;
    margin-top: 10px;
    margin-left: 0px; }

  #main-nav {
    margin-top: 0px; }

  #sidebar1 {
    display: inherit; } 
    
    .t-2of3 {
width:71.4285714%;
} 