@media (min-width: 768px) {
	.mobile-only {
		display: none;
	}
	.mobile-hide {
		display: inherit;
	}
	#logo {
		position: absolute;
		background-image: url("library/images/sprites.png");
		background-repeat: no-repeat;
		background-position: -657px -8px;
		width: 295px;
		height: 86px;
		left: 0px; 
		margin-top: 10px;
		margin-left: 10px;
	}
	#main-nav {
		margin-top: 0;
		margin-left: auto;
		
		#top-level-nav {
			background-color: transparent;
			justify-content: flex-end;
			
			& > li {
				font-weight: bold;
				border-left: none;
				flex: 0 0 auto;
				margin: 0 8px;
				font-size: 18px;
			}
			& > li:hover {
				background-color: transparent;
			}
			
			& > li:last-child {
				.dropdown {
					max-width: 480px;
					left: auto;
				}
			}
		}
		
		.dropdown .grouped-route-list {
			display: flex;
			flex-wrap: wrap;
			.route_group {
				flex: 1;
				padding: 1rem;
			}
			.submenu-title {
				padding: 0;
				margin-bottom: 1rem;
				background: transparent;
			}
			a {
				border-bottom: none;
				padding: 2px;
				margin: 0.5rem 0;
			}
		}
	}
	
	#inner-content {
		padding: 1rem;
	}
	
	.tooltip .tooltiptext {
		left: 0;
		right: auto;
	}
	.tooltip .tooltiptext::after {
		right: auto;
		left: 10px;
	}
	
	.single-route {
		#route-select-dropdown {
			display: block;
		}
		#map-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			
			h3 {
				display: block;
			}
			#map-expand {
				font-size: 1rem;
				position: static;
				background-color: transparent;
			}
		}
		.top-links {
			#pdf-link {
				margin: 0 1.5rem 0 0;
			}
			#route-fares-link {
				margin: 0;
			}
		}
		#timetables .fixed-column {
			display: table;
		}
	}
	
	#home-desktop-map-container {
		#planner-wrap {
			#planner {
				max-width: 100%;
			}
			#planner-header {
				padding: 0.5rem 1rem;
				background: #af0f0f;
				margin-bottom: 1rem;
			}
			h1 {
				text-align: left;
				border: none;
				padding: 0;
				background: transparent;
			}
			form {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}
			.form-row {
				margin-bottom: 1rem;
				min-width: 300px;
				width: 48%;
			}
			#default-settings {
				margin-bottom: 0;
				padding: 0.5rem;
				.form-row {
					width: 100%;
					margin: 0;
					& > div {
						float: left;
						min-width: 51%;
					}
				}
			}
			button[type="submit"] {
				width: auto;
				background: #ef6822;
				border: 2px solid #fad3bf;
				box-shadow: none;
				transition: background 0.2s linear;
				
				&:hover {
					background: darken(#ef6822, 12%);
				}
			}
			#additional-settings {
				flex: 1;
				display: flex;
				
				.form-row {
					width: auto;
					min-width: 130px;
					margin: 0;
					margin-right: 1rem;
				}
				&.hidden {
					display: none;
				}
				
				select {
					margin: 0;
				}
			}
		}
		#map-wrap {
			padding: 1rem;
			width: 100%;
			position: relative;
			
			#hovers {
				cursor: pointer;
			}
		}
		#route-legend {
			bottom: 1.5rem;
			position: absolute;
			right: 1.5rem;
			width: 200px;
			a {
				margin-bottom: 0.25rem;
				border: 1px solid #fff;
				display: block;
				font-size: 0.85rem;
				text-align: center;
				border-radius: 14px;
			}
			
		}
		#alerts-wrap {
			
		}
	}
	#home-news-area,
	#newsletter-subscribe {
		margin-left: auto;
		margin-right: auto;
		max-width: 680px;
	}
	#footer-about {
		float: right;
		width: 65%;
	}
	#footer-left-menu {
		float: left;
		width: 30%;
		
		ul {
			text-align: right;
		}
	}
	#footer-right-menu {
		float: left;
		width: 100%;
	}
}

@media (min-width: 1030px) {
	body {
		background-size: cover;
	}
	#logo {
		position: static;
		background-image: url("library/images/sprites.png");
		background-repeat: no-repeat;
		width: 507px;
		height: 134px;
		background-position: -0px -0px;
		left: -132px;
		margin-top: 10px;
		margin-left: -8%; 
	}
	#main-nav {
		margin-top: -40px;
		
		.dropdown {
			left: -6px;
			right: -6px;
		}
	}
	.footer {
		margin-top: 2rem;
	}
	
	#home-desktop-map-container #route-legend {
		width: 260px;
		a {
			font-size: 1rem;
		}
	}
}

// The only max-width query...
@media (max-width: 400px) {
	#logo {
		left: 10px;
	}
	#number-and-search-wrap {
		margin-right: 10px;
		width: 55%;
	}
	#search-wrap input#s {
		width: 160px;
	}
	h1 {
		font-size: 2rem;
		line-height: 1.2;
	}
}